
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
    
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(130, 2, 2);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list li:hover{
    background-color: #45567d;
}

ul {
    list-style: none;
}

.nav-list a {
    display: block;
    font-size: 1.2rem;
    padding: 0.7rem;
}

a {
    text-decoration: none;
    color: white;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section > h2 {
    font-size: 3rem;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

.welcome-section > p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: red;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: #45567d;
    width: 100%;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid white;
    font-size: 2.7rem;
}

h2 {
    font-size: 4.2rem;
}


.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: rgb(18, 55, 89);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 9px;
}

/* image inside card */
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    
}



/* hover effect on each cards  */
.project:hover{
    background-color: grey;
    cursor: pointer;
    padding: 15px;
    border-radius: 9px;
}

.project-title {
    font-size: 1.4rem;
    padding: 2rem 0.5rem;
}

.code {
    color: gray;
    transition: color 0.3s ease-out;
}

.btn-show-all {
    font-size: 2rem;
    background: rgb(70, 69, 69);
    transition: background 0.3s ease-out;
}

.btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-chevron-right:before {
    content: "\f054";
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: rgb(70, 69, 69);
}

.contact-section-header > h2 {
    font-size: 3.5rem;
}

.contact-section-header > p {
    font-style: italic;
}


.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4.5rem;
    flex-wrap: wrap;
}


.contact-details {
    font-size: 1rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: rgb(70, 69, 69);
    border-top: 4px solid rgb(130, 2, 2);
    width: 100%;
}

footer > p {
    margin: 0.5rem;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px){
    .nav {
       display: block;
    }
    .nav-list a {
        display: block;
        font-size: 0.6rem;
        padding: 1rem;
    }
    h1 {
        font-size: 3rem;
    }
}